[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Kraken Explorer
Exec=/usr/bin/kraken-explorer %f
Comment=Deeper than a Peak. Wireshark is stuck in shallow waters.
Icon=kraken-explorer
StartupNotify=false
Categories=Development

